html {
    scroll-behavior: smooth;
  }
  
*{
    box-sizing: border-box;
    padding: 0%;
    margin:0;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: rgb(243, 243, 243);
    height:100%; 
    width: 100%;
}

.black-box{
    width:25%;
    height:55.5vw;
    color:rgb(128, 128, 128);
    background-color: black;
    position:absolute;
    display:inline-block;

}
h1{
    font-size:4.5vw;
    padding:2vw;
    color:	#48b07b;
    display: block;
    border-right: 1px solid white;
    text-align: justify;
    font-weight: 500;
}

.citebox{
    margin:3vw 2vw 1vw 1vw;
    font-size: 1.2vw;
    padding:1.4vw;
    border-top: 2px solid white;
}

nav{
    float: right;
    height: 4rem;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.8;
    width:75.1%;
    display:flex;
    justify-content: center;
    align-items: center;
    border:2px solid black;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #031803 74%);
}

 nav li{
    width:9vw;
    height:2rem;
    display:inline-block;
    margin:0 1vw 0 1vw;
    text-align: center;
    color:rgb(53, 52, 52);
    font-weight: bold;
    padding:5px;
    cursor:pointer;
    border-bottom:1px solid rgba(112, 110, 110, 0.541);
    
}
nav ul li a img,nav ul li:first-child{
    display:none;
}

a:hover{
    color:rgb(209, 248, 177);
    
}
li:nth-child(-n+5 ):hover{
   border-bottom:none;
}


li:nth-child(6){
    background-color:transparent;
    border:transparent;
    box-shadow:none;
}

.kezdokep{
    height:45vw;;
    width:80vw;
    float:right;
}
section>button{
    background-color:transparent;
    border:none;
    cursor:pointer;
}

.playbutton{
    margin:20px;
    position:relative ;
    top:5vw ;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 100%;
}

.playbutton> a{
    font-size: 1vw;
    margin:10px;
    color:rgb(209, 209, 209) !important;
    cursor:pointer;
}
.section1{
    height:48vw;
    background-color:#f3f3f3;
    width:100%;
    display: flex;
}

.leiras{
    width:50%;
    background-color:#a56c1c;
    height: 48vw;
    z-index: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    border-right:5px double black;
    background-image: url(kepek/darkplant.jpeg);
}


.leiras>p{
    font-size:1.2vw;
    background-color:#dfddd9;
    width:50%;
    height: 75%;
    border-radius: 20px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.185);
    display: flex;
    align-items: center;
    padding:30px;
    color: #000000;
    text-align: justify;
    font-weight: 600;
}

div.helyszin{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: rgb(240, 239, 223);
}
.helyszin h2{
    margin-bottom: 100px;
    font-weight: 700;
    font-size: 3vw;
    color:rgb(15, 32, 2);
    text-shadow: 0px 3px 0px #b2a98f,
    0px 2px 10px rgba(0,0,0,0.15),
    0px 8px 2px rgba(0,0,0,0.1),
    0px 21px 30px rgba(0,0,0,0.1);

}

#location{
    height: 2vw;
    width:auto;
}

.section1 .helyszin div{
    margin-top:50px;
    font-size: 2vw;
    
}
.section2{
    height:70vw;
    background-image: url(kepek/background12.jpg);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background-color: rgb(139, 113, 83);
    width:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.section2 h2{
    font-size:4vw;
    border-bottom:1px solid #f5f5f5;
    border-top:1px solid #f5f5f5;
    margin:3vw;
    color:rgb(236, 236, 235);
    height:100px;
    padding: 0 20px 0 20px;
}
.container2{
    height:81vw;
    width: 100%;
    display:grid;
    background: rgb(232, 233, 212);
    background: radial-gradient(circle, rgba(224,240,209,1) 19%, rgba(173,194,169,1) 48%, rgba(107,148,100,1) 94%);
    grid-template-columns:repeat(3,1fr);
    padding:40px 60px 40px 60px;
}
nav ul li a img{
    height: 12vw;
}
.box1{
    display:flex;
    flex-direction:column;
    align-items: center;
    height:30vw;
    width:auto;
}
.box1 h4{
    font-size: 30px;
    padding:10px;
    color:rgb(58, 58, 58);
}

.box1 img{
    height: 17vw;
    width: 22vw;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: 0.4s;
}
.box1 img:hover{
    transform:translate(0,-10px);
}
footer a{
    text-decoration: none ;
    color:rgb(73, 72, 72) ;
    padding-bottom: 0px;
}

footer a:hover{
    position:relative;
    bottom:5px;
    color:rgb(62, 156, 62) !important;
}


a{color: rgb(238, 237, 237); text-decoration: none;}

#neniskep{
    height: 20vw;
    transition: 0.3s ease-out;
    border-radius:20px;
}
#neniskep:hover{
    transform: translate(0px,-20px);
    cursor: pointer;
}
input{
    border-radius: 10px;
    width:130%;
}
.helyszin a {
    color:rgb(32, 32, 32);
}

  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #000000 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 19px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 0px;
    border: 3px solid #ffffff;
  }
  @media only screen and (max-width:900px)and (min-width:600px) {
      input{
          display: none;
      }
      nav li{
          margin:0 2vw 0 2vw;
      }
    }

  @media only screen and (max-width: 600px)and (min-width:0px) {
    img.kezdokep,div.leiras,.section1,.citebox,.playbutton,#keresomotor{
        display: none;

    }
    h1{
        text-align: center;
        font-size: 11vw;
        display: block;
    }
    .section1{
        display: block;
    }
    body{
        background-color: #333232;
        height:3vw;
    }
    .black-box{
        width: 100%;
        height: 30vw;
        display: block;
        position:static;
        background-color: #000000;
    }
    .container2{
        display:flex;
        justify-content: center;
        flex-direction: column;
        height: 410vw;
        padding:0;
        position: static;
    }
    .section1{
        height: 200vw;
        background-color: #000000;
    }
    div.helyszin{
        width: 100%;
        height: 200vw;
        background-color:#000000;
        display: block;
    }
    div.helyszin h2{
        width: 100%;
        font-size: 9vw;
        text-align: center;
        color:white;
    }
    #neniskep{
        width: 60%;
        height: auto;
        margin-left:20%;
        margin-right:20%;
    }
    .section1 .helyszin div {
        height: 40vw;
        font-size: 5vw;
        text-align: center;
        padding-bottom: 10vw;
    }
    .section2{
        height: 420vw;
    }
    .box1{
        padding:30vw;
        height: 20vw;
    }
    .section2 h2{
        font-size:10vw;
        padding:0;
    }
    .box1 img{
        width: 40vw;
        height: auto;
    }
    .section1 .helyszin div a {
        color:white;
    }
    nav {
        flex-direction: column;
        height: 100vw;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        
    }
    footer{
        background-color: #f5f5f5;
    }
    ul{
        height: 100vw;
        width: 100%;
        padding:0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: #000000;
        
    }
    nav ul li{
        width: 50%;
        font-size: 5vw;
        padding:12vw;
        text-align: center;
    }
    nav ul li:first-child,nav ul li a img , nav ul li:first-child, nav ul li a:first-child{
        display:block;
        border:none;
        transition:0s;
    }
    nav ul li a:first-child{
        width: 100%;
        display: flex;
        justify-content: center ;
    }
    nav ul li:first-child{
        width:100%;
        margin-top:10px;
    }
  }